html, body.media-page {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: #000;
}

.media-main {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
